In [2]:
import requests
import csv

# Replace 'your_link_here' with the actual link to your CSV file
csv_link ="https://www.data.gouv.fr/fr/datasets/r/62c20524-d442-46f5-bfd8-982c59763ec8"
# If the CSV file is online, you can use requests to download it
response = requests.get(csv_link)
if response.status_code == 200:
    # Get the content of the CSV file
    csv_content = response.content.decode('utf-8')

    # Specify the local file name where you want to save the CSV file
    local_file_path = 'usagers_file.csv'

    # Write the CSV content to a local file
    with open(local_file_path, 'w', newline='') as local_file:
        local_file.write(csv_content)

    print(f"CSV file saved to {local_file_path}")
else:
    print(f"Failed to download usagers CSV file. Status code: {response.status_code}")

CSV file saved to usagers_file.csv

In [3]:
# Replace 'your_link_here' with the actual link to your CSV file
csv_link ="https://www.data.gouv.fr/fr/datasets/r/c9742921-4427-41e5-81bc-f13af8bc31a0"
# If the CSV file is online, you can use requests to download it
response = requests.get(csv_link)
if response.status_code == 200:
    # Get the content of the CSV file
    csv_content = response.content.decode('utf-8')

    # Specify the local file name where you want to save the CSV file
    local_file_path = 'vehicule_file.csv'

    # Write the CSV content to a local file
    with open(local_file_path, 'w', newline='') as local_file:
        local_file.write(csv_content)

    print(f"CSV file saved to {local_file_path}")
else:
    print(f"Failed to download usagers CSV file. Status code: {response.status_code}")

CSV file saved to vehicule_file.csv

In [4]:

# Replace 'your_link_here' with the actual link to your CSV file
csv_link ="https://www.data.gouv.fr/fr/datasets/r/a6ef711a-1f03-44cb-921a-0ce8ec975995"
# If the CSV file is online, you can use requests to download it
response = requests.get(csv_link)
if response.status_code == 200:
    # Get the content of the CSV file
    csv_content = response.content.decode('utf-8')

    # Specify the local file name where you want to save the CSV file
    local_file_path = 'lieux_file.csv'

    # Write the CSV content to a local file
    with open(local_file_path, 'w', newline='') as local_file:
        local_file.write(csv_content)

    print(f"CSV file saved to {local_file_path}")
else:
    print(f"Failed to download usagers CSV file. Status code: {response.status_code}")

CSV file saved to lieux_file.csv

In [5]:
import pandas as pd

In [6]:
df_u = pd.read_csv("usagers_file.csv" , sep = ';' , encoding= "utf-8")
df_v = pd.read_csv("vehicule_file.csv" , sep = ';')
df_l = pd.read_csv("lieux_file.csv", sep = ';')

/Users/islambendaoud/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
df_u.head()

,Num_Acc,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202200000001,1 099 700,813 952,A01,1,1,3,1,2008.0,5,2,8,-1,-1,-1,-1
1,202200000001,1 099 701,813 953,B01,1,1,1,1,1948.0,5,1,8,-1,-1,-1,-1
2,202200000002,1 099 698,813 950,B01,1,1,4,1,1988.0,9,1,0,-1,0,0,-1
3,202200000002,1 099 699,813 951,A01,1,1,1,1,1970.0,4,1,0,-1,0,0,-1
4,202200000003,1 099 696,813 948,A01,1,1,1,1,2002.0,0,1,0,-1,-1,-1,-1

In [8]:
df_v.head()

,Num_Acc,id_vehicule,num_veh,senc,catv,obs,obsm,choc,manv,motor,occutc
0,202200000001,813 952,A01,1,2,0,2,1,9,1,NaN
1,202200000001,813 953,B01,1,7,0,2,2,1,1,NaN
2,202200000002,813 950,B01,2,7,0,2,8,15,1,NaN
3,202200000002,813 951,A01,2,10,0,2,1,1,1,NaN
4,202200000003,813 948,A01,2,7,0,2,1,2,1,NaN

In [9]:
df_l.head()

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,202200000001,4,TEIL(vieille route du),0,NaN,2,2,0,1,(1),(1),1,NaN,-1,1,0,1,50
1,202200000002,4,NaN,0,NaN,2,2,0,1,(1),(1),1,NaN,-1,1,0,1,50
2,202200000003,3,ROND POINT DE BREZILLET,0,NaN,-1,2,0,1,0,0,1,NaN,-1,1,5,1,50
3,202200000004,4,QUATORZE JUILLET (RUE DU),0,NaN,1,1,0,2,(1),(1),1,NaN,4,1,0,1,30
4,202200000005,3,ROUTE DE JEAN MOULIN-RN 538,0,NaN,2,2,0,1,8,0,1,NaN,-1,1,0,1,80

In [10]:
# join usagers and vehicule on id_vehicle and delete the things that are repeated instead of giving x and y to the name 

df_uv = pd.merge(df_u, df_v, on='id_vehicule' , suffixes=('','_y'))
df_uv = df_uv.drop(df_uv.filter(regex='_y$').columns.tolist(),axis=1)
df = pd.merge(df_uv, df_l, on='Num_Acc' , suffixes=('','_y'))
df = df.drop(df.filter(regex='_y$').columns.tolist(),axis=1)

In [11]:
# count na of every column
df.isna().sum()

Num_Acc             0
id_usager           0
id_vehicule         0
num_veh             0
place               0
catu                0
grav                0
sexe                0
an_nais          2874
trajet              0
secu1               0
secu2               0
secu3               0
locp                0
actp                0
etatp               0
senc                0
catv                0
obs                 0
obsm                0
choc                0
manv                0
motor               0
occutc         124892
catr                0
voie             9885
v1                  0
v2             114769
circ                0
nbv                 0
vosp                0
prof                0
pr                  0
pr1                 0
plan                0
lartpc         126599
larrout             0
surf                0
infra               0
situ                0
vma                 0
dtype: int64

In [12]:
# drop the columns that have more than 50% of na
df.dropna(thresh=0.5*len(df), axis=1, inplace=True)

In [13]:
# drop the columns that are not float or int 
df = df.select_dtypes(exclude=['object'])

In [14]:
df.head()

,Num_Acc,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,...,catr,v1,circ,vosp,prof,plan,surf,infra,situ,vma
0,202200000001,1,1,3,1,2008.0,5,2,8,-1,...,4,0,2,0,1,1,1,0,1,50
1,202200000001,1,1,1,1,1948.0,5,1,8,-1,...,4,0,2,0,1,1,1,0,1,50
2,202200000002,1,1,4,1,1988.0,9,1,0,-1,...,4,0,2,0,1,1,1,0,1,50
3,202200000002,1,1,1,1,1970.0,4,1,0,-1,...,4,0,2,0,1,1,1,0,1,50
4,202200000003,1,1,1,1,2002.0,0,1,0,-1,...,3,0,-1,0,1,1,1,5,1,50

In [15]:
df.drop(columns =[ 'Num_Acc'], inplace=True)

In [16]:
df.head()

,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,...,catr,v1,circ,vosp,prof,plan,surf,infra,situ,vma
0,1,1,3,1,2008.0,5,2,8,-1,-1,...,4,0,2,0,1,1,1,0,1,50
1,1,1,1,1,1948.0,5,1,8,-1,-1,...,4,0,2,0,1,1,1,0,1,50
2,1,1,4,1,1988.0,9,1,0,-1,0,...,4,0,2,0,1,1,1,0,1,50
3,1,1,1,1,1970.0,4,1,0,-1,0,...,4,0,2,0,1,1,1,0,1,50
4,1,1,1,1,2002.0,0,1,0,-1,-1,...,3,0,-1,0,1,1,1,5,1,50

In [17]:
import numpy as np

In [18]:
# import train_test_split from sklearn
from sklearn.model_selection import train_test_split

# y is df['grav'] and X is df.drop(columns=['grav'])
y = df['grav']
X = df.drop(columns=['grav'])


# treat the na values by replacing them with the mean of the column
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp.fit(X)
X = imp.transform(X)


# split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)




# import RandomForestClassifier from sklearn
from sklearn.ensemble import RandomForestClassifier

# create a RandomForestClassifier model
model = RandomForestClassifier()
model.fit(X_train, y_train)

RandomForestClassifier()

In [19]:
model.score(X_test, y_test)

0.6650613823866104

In [20]:
# put 0 where -1 in y_train and y_test
y_train = y_train.replace(-1,0)
y_test = y_test.replace(-1,0)

In [21]:
# xgboost
from xgboost import XGBClassifier
model = XGBClassifier()
model.fit(X_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, objective='multi:softprob', ...)

In [22]:
model.score(X_test, y_test)

0.6719298938143923

In [23]:
# decision tree
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [24]:
model.score(X_test, y_test)

0.5654679666837722

In [32]:
# hyperopt on xgboost
from hyperopt import hp, fmin, tpe, STATUS_OK, Trials
from sklearn.metrics import accuracy_score

# define the search space
# too big , it takes too much time to run give me smaller space
space = {
    'max_depth': hp.choice('max_depth', [5, 10, 15, 20, 25, 30]),
    'n_estimators': hp.choice('n_estimators', [100, 200, 300 , 600 ]),
    'learning_rate': hp.uniform('learning_rate', 0.001, 0.1),
    'subsample': hp.uniform('subsample', 0.5, 1),
    'colsample_bytree': hp.uniform('colsample_bytree', 0.5, 1),
    'gamma': hp.uniform('gamma', 0, 1),
}

# define the objective function
def objective(params):
    params = {
        'max_depth': int(params['max_depth']),
        'n_estimators': int(params['n_estimators']),
        'learning_rate': params['learning_rate'],
        'gamma': params['gamma'],
        'colsample_bytree': params['colsample_bytree'],
        'subsample': params['subsample'],
    }
    
    model = XGBClassifier(**params)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    score = accuracy_score(y_test, y_pred)
    return 1 - score 

# run the hyper parameter search
trials = Trials()
best = fmin(fn=objective,
            space=space,
            algo=tpe.suggest,
            max_evals=50,
            trials=trials)

100%|██████████| 50/50 [10:19<00:00, 12.40s/trial, best loss: 0.32037263648205894]

In [33]:
print(best)

{'colsample_bytree': 0.5670677823589946, 'gamma': 0.9029303316938013, 'learning_rate': 0.04355679791140662, 'max_depth': 4, 'n_estimators': 2, 'subsample': 0.7967613761197947}